Repository lab-brussels-1/group5, pull requests merged in 2022-03, with the labels that each got.

#5 adding planning files
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/development-strategy.md
  planning/retrospective.md
  planning/user-personas.md
Labels: md

#16 PR2_constraints
  planning/constraints.md
Labels: md, new branch, constraints

#17 6_Design
  .cspell.json
  assets/first sketch.png
  planning/design.md
Labels: md, Design

#11 PR3_user persona
  planning/user-personas.md
Labels: md, new branch, User-Persona

#19 PR4_backlog
  .cspell.json
  README.md
  package-lock.json
  package.json
  planning/backlog.md
Labels: planning, md, backlog

#34 7-footer
  index.html
  styles/something.css
Labels: html, css, footer

#35 README.md fixed
  .eslintrc.json
  .vscode/settings.json
  README.md
  assets/tree-comic.png
  package-lock.json
  package.json
Labels: documentation, md

#37 article added
  index.html
  package.json
  styles/something.css
Labels: html, css

#36 5-aside
  index.html
  styles/something.css
Labels: html, css, aside

#38 Title
  assets/header.jpg
  assets/header1.jpg .png
  index.html
  styles/something.css
Labels: html, css

#41 PR6_Design
  assets/second sketch.png
  planning/design.md
Labels: md, Design

#39 README.md content fixed
  README.md
Labels: documentation, md

#40 3 navi
  index.html
  styles/something.css
Labels: html, css

#42 PR readme for planning
  planning/README.md
Labels: planning, md

#43 retrospective.md added
  .cspell.json
  planning/retrospective.md
Labels: planning, md
